.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -400%);
  }

  #nav1{
    background-color:#243F5A;
    color: white;
  }

  .navbar-nav li a{
    color: white;
  }

.nav-item>a:hover {
    color: #72a5d8;
}
.home_content{
  line-height: 1.9;
}
/*code to change background color*/
.navbar-nav>.active>a {
    background-color: #C0C0C0;
    color: #72a5d8;
} 

.dropdown-menu{
  background-color:#243F5A;
    color: white;
}

.split {
  height:50%;
  width: 50%;
  /* position:; */
   /* z-index: 1; */
  /* top: 0; */
  /* overflow-x: hidden; */
  /* padding-top: 20px; */
}

/* Control the left side */
.left {
  left: 0;
  background-color: #C0C0C0;
  align-items: center;
}

/* Control the right side */
.right {
  right: 0;
  background-color: beige;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assests/landing.jpeg");
  /* Set a specific height */
  height: 30%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-about-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assests/about.jpg");
  /* Set a specific height */
  height: 30%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  color: white;
}
